input[type="number"] {-moz-appearance: textfield;appearance: none;-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
textarea {outline: none;border: none;}
textarea:focus, input:focus {border-color: transparent !important;}

textarea:focus, input:focus {border-color: transparent !important;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}


.form {

  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-title {
    display: block;
    width: 100%;
    font-size: 24px;
    color: map-get($colors, "blue");
    line-height: 1.2;
    text-align: left;
    margin-bottom: $base-padding;
  }
  .wrap {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px;
  }
  .form-input {
    position: relative;
    display: block;
    padding: .5rem;

    .label {
      font-size: 18px;
      color: map-get($colors, "dark");
      line-height: 1.2;
      padding-left: .5rem;

    }

    .input {
      display: block;
      width: 100%;
      height: 50px;
      background: transparent;
      font-size: 22px;
      color: map-get($colors, "dark");
      line-height: 1.2;
      padding: 0 .5rem;
      margin: .5rem 0;
      border: 1px solid  map-get($colors, "blue");
      border-radius: .4rem;
    }

    .right .input {
      padding-right: 3rem;
    }

    .left .input {
      padding-left: 3rem;
    }
  }
  .form-input-styled {
    position: relative;
    display: block;
    padding: .5rem;

    .label {
      font-size: 18px;
      color: map-get($colors, "dark");
      line-height: 1.2;
      padding-left: .5rem;

    }

    .input {
      display: block;
      width: 100%;
      height: 50px;
      font-size: 22px;
      color: map-get($colors, "dark");
      background-color: map-get($colors, "graylight");
      line-height: 1.2;
      padding: 0 .5rem;
      margin: .5rem 0;
      border: 0;
      border-bottom: 1px solid  map-get($colors, "blue");
    }

    .right .input {
      padding-right: 3rem;
    }

    .left .input {
      padding-left: 3rem;
    }
  }
  .form-input-add {
    position: relative;

    .form-input-icon {
      position: absolute;
      top: .5rem;
    }
    .form-input-icon-right {
      right: 1rem;
      border-left: 1px solid map-get($colors, "blue");
      padding: 0 0 0 8px;
    }
    .form-input-icon-left {
      left: 1rem;
      border-right: 1px solid map-get($colors, "blue");
      padding: 0 8px 0 0;
    }
  }
  .form-radio {
    input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 0;
      left: -1px;
      position: relative;
      background-color: map-get($colors, "graylight");
      content: '';
      display: inline-block;
      visibility: visible;
      transition-duration: 0.3s;
      border: 1px solid map-get($colors, "blue");
    }

    input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 0;
      left: -1px;
      position: relative;
      background-color: map-get($colors, "blue");
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid map-get($colors, "graylight");
    }
  }
  .form-radio-inline {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    input[type='radio']:after {
      top: 6px;
      left: -1px;
    }
    input[type='radio']:checked:after {
      top: 6px;
      left: -1px;
    }
  }
  .form-checkbox {
    display: block;
    cursor: pointer;
    position: relative;

    span {
      color: map-get($colors, "dark");
      padding: 0;
    }

    label {
      display: flex;
      align-items: baseline;
    }

    input[type='checkbox'] {
      height: 15px;
      width: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid map-get($colors, "blue");
      border-radius: 5px;
      outline: none;
      transition-duration: 0.3s;
      background-color: map-get($colors, "graylight");
      cursor: pointer;
    }

    input[type='checkbox']:checked {
      border: 1px solid map-get($colors, "blue");
      background-color: map-get($colors, "blue");
    }

    input[type='checkbox']:checked + span::before {
      content: '\2713';
      display: block;
      text-align: center;
      color: white;
      font-size: 18px;
      position: absolute;
      left: 5px;
      top: -3px;
    }

    input[type='checkbox']:active {
      border: 1px solid map-get($colors, "blue");
    }
  }

  .green input[type='checkbox'] {
    border: 1px solid map-get($colors, "green");
  }
  .green input[type='checkbox']:checked {
    border: 1px solid map-get($colors, "green");
    background-color: map-get($colors, "green");
  }

  .orange input[type='checkbox'] {
    border: 1px solid map-get($colors, "orange");
  }
  .orange input[type='checkbox']:checked {
    border: 1px solid map-get($colors, "orange");
    background-color: map-get($colors, "orange");
  }

  .red input[type='checkbox'] {
    border: 1px solid map-get($colors, "red");
  }
  .red input[type='checkbox']:checked {
    border: 1px solid map-get($colors, "red");
    background-color: map-get($colors, "red");
  }

  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: map-get($colors, "blue");
    background: -webkit-linear-gradient(45deg, map-get($colors, "blue"), map-get($colors, "orange"));
    background: -o-linear-gradient(45deg, map-get($colors, "blue"), map-get($colors, "orange"));
    background: -moz-linear-gradient(45deg, map-get($colors, "blue"), map-get($colors, "orange"));
    background: linear-gradient(45deg, map-get($colors, "blue"), map-get($colors, "orange"));
  }
  .input:focus + .focus-input::before {
    width: 100%;
  }
  .has-val.input + .focus-input::before {
    width: 100%;
  }

  .input-checkbox {display: none;}
  .label-checkbox {
    margin: 0;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }
  .label-checkbox::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font, sans-serif;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .input-checkbox:checked + .label-checkbox::before {
    color: #c87ef0;
  }

  .container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .btn-form {
    min-width: 244px;
    line-height: 1.2;
  }
  i.zmdi {
    vertical-align: middle;
  }

}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: map-get($colors, "white");
  border: 1px solid $error;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  color: $error;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert-validate::after {
  content: "\f1f4";
  font-family: Material-Design-Iconic-Font;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}
