img, video, svg {
  max-width: 100%;
}
.img-rounded {
  -webkit-border-radius: $base-border-radius;
  -moz-border-radius: $base-border-radius;
  border-radius: $base-border-radius;
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.img-polaroid {
  padding: 4px;
  background-color: map-get($colors, "white");
  border: 1px solid map-get($colors, "graylight");
  -webkit-box-shadow: 0 1px 3px rgb(230 230 230 / 10%);
  -moz-box-shadow: 0 1px 3px rgba(230,230,230,.1);
  box-shadow: 0 1px 3px rgb(230 230 230 / 10%);
}

.img-hover {
  border: 1px solid transparent;
}
.img-hover:hover {
  outline: 2px solid map-get($colors, "blue");
}

.img-blur {
  position: relative;
  display: block;
}
.img-blur::after {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px) opacity(.5) brightness(1.3);
}
.img-blur:hover::after {
  backdrop-filter: none;
}